# Spaceone Packages
spaceone-core
spaceone-api
spaceone-tester
schematics
google-auth
google-api-python-client
azure-mgmt-compute
azure-mgmt-core
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-sql
azure-mgmt-monitor
azure-identity


